{% extends 'index.html'%} {% block head%}
<title>Item</title>
{% endblock%} {% block body%}
<div class="container">
  <a href="/add"><button class="btn m-3">Add User</button></a>
  <br />
  <table class="table table-bordered">
    <thead >
      <th scope="col">
        Name
      </th>
      <th scope="col">
        Phone
      </th>
      <th scope="col">
        Edit
      </th>
      <th scope="col"> 
        Delete
      </th>
    </thead>

    <tbody>
      {% for x in user %}
      <tr>
        <td>{{ x.name }}</td>
        <td>{{ x.mobile }}</td>
        <td>
          <a href="/edit/{{x.name}}"><button class="btn btn-success">Edit</button></a>
        </td>
        <td>
          <a href="/delete/{{x.name}}"><button class="btn btn-success">Delete</button></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
