{% extends 'index.html'%}

{% block head%}
<title>Sign-up</title>
{% endblock%}
{% block body%}
<div class="logBox">
    <div class="inside">
        <h3>Sign-Up</h3>
        <form action="/signup" method="POST">
        <label for="">Email</label>
        <input type="email" placeholder="Enter your Email " name="email" >
        <label for="">Name</label>
        <input type="text" placeholder="Enter your Name" name="name">
        <label for="">Phone</label>
        <input type="number" placeholder="Enter your Number" name="phone">

        <label for="">Password</label>
        <input type="password" placeholder="Enter your Password" name="password">
        <label for="">Confirm Password</label>
        <input type="password" placeholder="Enter your Password">

        <button class="btn " type="submit">Submit</button>
    </form>
    </div>
</div>
{% endblock%}