{% extends 'index.html'%}


{% block head%}
<title>Sign-in</title>
{% endblock%}
{% block body%}
<div class="logBox">
    <div class="inside">
        <h3>Sign-IN</h3>
        <form action="/signin" method="POST">
        <label for="">Email</label>
        <input type="email" placeholder="Enter your Email">

        <label for="">Password</label>
        <input type="password" placeholder="Enter your Password">
        <button class="btn " type="submit">Submit</button>
    </form>
    </div>
</div>

{% endblock%}