{% extends 'index.html'%}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos modi corrupti repudiandae illum ipsa consectetur doloribus deserunt praesentium, inventore corporis, sunt dolore eveniet, reprehenderit distinctio commodi. Vero, autem aspernatur.</p>
<br>
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos modi corrupti repudiandae illum ipsa consectetur doloribus deserunt praesentium, inventore corporis, sunt dolore eveniet, reprehenderit distinctio commodi. Vero, autem aspernatur.</p>
<br>
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos modi corrupti repudiandae illum ipsa consectetur doloribus deserunt praesentium, inventore corporis, sunt dolore eveniet, reprehenderit distinctio commodi. Vero, autem aspernatur.</p>
<br>
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum eos modi corrupti repudiandae illum ipsa consectetur doloribus deserunt praesentium, inventore corporis, sunt dolore eveniet, reprehenderit distinctio commodi. Vero, autem aspernatur.</p>
<br>
{% endblock%}