{% extends 'index.html'%}
{% block head%}
<title>About</title>
{% endblock%}
{% block body%}
<div class="container">
    {% if item%}
    <h1>Edit  Element</h1>
    <form action="/edit/{{item[0]}}" method="post">
        <label for="">Username</label>
        <input type="text" name="username" value={{item[0]}}>
        <label for="">Mobile </label>
        <input type="text" name="contact" value={{item[1]}}>
        <button type="submit">Save</button>
    </form>
    {% else %}
    <h1>Add  Element</h1>
    <form action="/add" method="post">
        <label for="">Username</label>
        <input type="text" name="username">
        <label for="">Mobile </label>
        <input type="text" name="contact">
        <button type="submit">Save</button>
    </form>

    {% endif%}
</div>
{% endblock%}